@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Glober';
  src: url('./fonts/Fontfabric\ -\ GloberRegular.otf') format('opentype')
}

*{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.backShadow{
    filter: drop-shadow(0 0 10px black);
}
#root {
    user-select: none;
    font-family: 'Glober', sans-serif;
  }

  .t-shadow{
    text-shadow:0 0 10px black
  }