@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'Glober';
  src: url('./fonts/GloberRegular.otf') format('opentype')
}

.backShadow{
    filter: drop-shadow(0 0 10px black);
}
#root {
    font-family: 'Glober', sans-serif;
  }

  .t-shadow{
    text-shadow:0 0 10px rgba(25, 25, 25, 0.75);
  }
  .d-shadow{
    filter: drop-shadow(0 0 10px black);
    -webkit-filter: drop-shadow(0 0 10px rgba(85, 85, 85, 0.5));
  }